

//some variables for Codeon theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#9eca45;//Theme default color code, paste your own code here
$base-color:#a7afb8; //dark color for heading
$primary-font:  'Open Sans', sans-serif; //default font family
$base-font-size:13px; //default basic font size
$alert-color:red; //alert color

